<% if(locals.user) { %> 
        <li id="post-<%=post._id%>">
            
            <p class="bradley-underline"><%= post.user.name %></p>
            <p class="fontsize-1point2"><%= post.content %></p>

            <% let postId = post.id %>
            <% if(locals.user && post.user.id == locals.user.id) { %>
           
            <a class="delete-post-button" href="posts/delete?postId=<%=postId%>"><i class="far fa-trash-alt"></i></a>
            
            <% } %>

            <% if(post.img_path) { %> 
                 <img src="<%=post.img_path%>" width="600px">
                 <br><br>
            <% } %>
            

            
            <div class="post-likes">
                
                    <% if (post.likes.find(function(like){
                        return like.user == locals.user.id;
                    }) ) { %>
                        <a href="/posts/add-delete-like?postId=<%=post._id%>" class="add-delete-like-button"><i class="far fa-thumbs-up color-blue"></i></a>
                     <% } 
                    else { %> 
                        <a href="/posts/add-delete-like?postId=<%=post._id%>" class="add-delete-like-button"><i class="far fa-thumbs-up"></i></a>
                        <% } %>
                
                <span class="post-likes-no"><%= post.likes.length %></span>
            </div>

            <form  action="/comments/create" method="POST">
                <textarea placeholder="comment here.." name="comment" cols="30" rows="1"></textarea>
                <input type="hidden" name="postId" value=<%= post._id %>>
                <button type="submit">Comment</button>
            </form>

            
            
            

            <div class="show-comments-container">
                <h4>Comments</h4>
                <ul>
                    <% for(comment of post.comments) { %>
                         <%- include('_comments') %>
                    <% } %>
                </ul>
            </div>

            
        </li>
 <% } %>