<link rel="stylesheet" type="text/css" href="<%=assetPath('css/home.css')%>">
<script src=""></script>

<%- include('_searchbox') %>
<% if(locals.user) { %>
<div id="posts-form-container">
    <form id="post-submit-form" action="/posts/create" method="post"  enctype="multipart/form-data">
        <textarea name="content" id="post-content" placeholder="Enter Text" cols="30" rows="3"></textarea>
       <input type="file" name="postImage">
        <button type="submit">Post</button>
    </form>
</div> 

<% } %>
<% if(locals.user) { %> 
<div id="posts-container">
    <ul id="posts">
        <% for( post of posts) { %>
             <%- include('_posts') %>
        <% } %>
    </ul>
            
</div>

<% } %>

<% if(locals.user) { %> 
<div id="friends-list">
    <h2> Friends </h2>
    <ul>
        <% for(friend of populate_user.friends) { %> 
            <li>
                <a href="/chatting/get-chat-box?sender=<%=locals.user._id%>&receiver=<%=friend._id%>"><%= friend.name %></a>
            </li>    
        <% } %>
    </ul>
</div>
<% } %>

<div id="Users-list">
    <h2>Users</h2>
    <ul>
        <% if (locals.user) { %>
        <% for(let profileUser of users) { %>
            <li>
                <a href="/users/profile/<%= profileUser.id %>"><%= profileUser.name %></a>
            </li>
        <%}%>
        <%}%>
    </ul>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<% if(locals.user) { %> 
<script>
      var user_email = '<%= locals.user.email %>';
      var env_name = '<%= locals.env_name %>';
</script>
<% } %>
<script src="<%=assetPath('js/chatting_browser.js')%>"></script>
<script src="<%=assetPath('js/chatting_box.js')%>"></script>
<script src="<%=assetPath('js/searchBox.js')%>"></script>

