<link rel="stylesheet" type="text/css" href="<%=assetPath('css/user_profile.css')%>">

<div id="profile">
<img src="<%= profile_user.avatar %>" width="200px" height="200px">
<h2>
    <%= profile_user.name %> 
</h2>
</div>
<% if(profile_user.id == locals.user.id) { %> 

<div id="update-form">
    <h3>Update Profile</h3>
    <form action="/users/update" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter Name" name="name" value="<%=profile_user.name %>" required>
        <input type="email" placeholder="Enter Email" name="email" value="<%=profile_user.email %>" required>
        <input type="hidden" name="userId" value=<%=profile_user.id %>>
        <input type="file" name="avatar">
        <button type="submit">Update</button>
    </form>
</div>
<% } %>

<div id="friend-button">

<% if(profile_user.id == locals.user.id){
}

else if (friend_requests_sent.find(function(friend_request_sent){
    return friend_request_sent.receiver == profile_user.id;
}) ) { %>
    <button>Requested </button>
<% }

else if (profile_user.friends.find(function(friend){
    return friend.id == locals.user.id;
})) {
}

else { %>
<a href="/friend-request/send?profile_user_id=<%=profile_user._id%>"><button><i class="fas fa-plus"></i> Add Friend</button></a>
<% } %>

</div>

<%- include('_friendRequests') %>


<div id="friends-list">
    <h3> Friends </h3>
    <ul>
        <% for(friend of profile_user.friends) { %> 
            <li>
                <a href="/users/profile/<%=friend._id%>"><%= friend.name %></a>
            </li>    
        <% } %>
    </ul>
</div>